=begin
#Blockmate

#Blockmate API OpenAPI documentation

The version of the OpenAPI document: 0.0.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.0

=end

require 'cgi'

module Blockmate
  class AnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get analytics focused on gaming
    # Get analytics focused on gaming. All empty values are omitted from the response.
    # @param account_provider [String] URL value from account_providers method
    # @param account_id [String] Account ID
    # @param [Hash] opts the optional parameters
    # @return [GetAnalytics200Response]
    def get_analytics(account_provider, account_id, opts = {})
      data, _status_code, _headers = get_analytics_with_http_info(account_provider, account_id, opts)
      data
    end

    # Get analytics focused on gaming
    # Get analytics focused on gaming. All empty values are omitted from the response.
    # @param account_provider [String] URL value from account_providers method
    # @param account_id [String] Account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAnalytics200Response, Integer, Hash)>] GetAnalytics200Response data, response status code and response headers
    def get_analytics_with_http_info(account_provider, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytics ...'
      end
      # verify the required parameter 'account_provider' is set
      if @api_client.config.client_side_validation && account_provider.nil?
        fail ArgumentError, "Missing the required parameter 'account_provider' when calling AnalyticsApi.get_analytics"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_analytics"
      end
      # resource path
      local_var_path = '/v1/analytics/{account_provider}/account/{account_id}/stats'.sub('{' + 'account_provider' + '}', CGI.escape(account_provider.to_s)).sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserJWT']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
