=begin
#Blockmate

#Blockmate API OpenAPI documentation

The version of the OpenAPI document: 0.0.1

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.0

=end

require 'cgi'

module Blockmate
  class ENSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get address for specified ENS domain
    # @param domain [String] ENS domain for which Ethereum address should be returned
    # @param [Hash] opts the optional parameters
    # @return [GetAddressFromDomain200Response]
    def get_address_from_domain(domain, opts = {})
      data, _status_code, _headers = get_address_from_domain_with_http_info(domain, opts)
      data
    end

    # Get address for specified ENS domain
    # @param domain [String] ENS domain for which Ethereum address should be returned
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAddressFromDomain200Response, Integer, Hash)>] GetAddressFromDomain200Response data, response status code and response headers
    def get_address_from_domain_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ENSApi.get_address_from_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling ENSApi.get_address_from_domain"
      end
      # resource path
      local_var_path = '/v1/ens/addressFromDomain'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'domain'] = domain

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAddressFromDomain200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserJWT']

      new_options = opts.merge(
        :operation => :"ENSApi.get_address_from_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ENSApi#get_address_from_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get domain and metadata for specified ENS address
    # @param address [String] Ethereum address for which domain and metadata should be returned
    # @param [Hash] opts the optional parameters
    # @return [GetDomainFromAddress200Response]
    def get_domain_from_address(address, opts = {})
      data, _status_code, _headers = get_domain_from_address_with_http_info(address, opts)
      data
    end

    # Get domain and metadata for specified ENS address
    # @param address [String] Ethereum address for which domain and metadata should be returned
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDomainFromAddress200Response, Integer, Hash)>] GetDomainFromAddress200Response data, response status code and response headers
    def get_domain_from_address_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ENSApi.get_domain_from_address ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling ENSApi.get_domain_from_address"
      end
      # resource path
      local_var_path = '/v1/ens/domainFromAddress'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'address'] = address

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDomainFromAddress200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserJWT']

      new_options = opts.merge(
        :operation => :"ENSApi.get_domain_from_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ENSApi#get_domain_from_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
